@mixin trasparent_buttonstyle {
    width: 100%;
    position: relative;
    line-height: 40px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
    padding: 0 10px;
    background: transparent;
    color: #0f0000;
    border: 1px solid #000;
    text-transform: uppercase;
    &:hover {
        background: #f0f0f0;
        outline: none;
        color: #0f0000;
    }
    &:focus {
        background: #f0f0f0;
        outline: none;
        color: #0f0000;
        box-shadow: none;
    }
    &:disabled {
        outline: 0;
        box-shadow: none;
        background: grey!important;
        border-color: grey!important;
        cursor: not-allowed;
    }
}
.btn_common {
    width: 100%;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    padding: 0 8px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color .25s ease-in-out,border-color .25s ease-in-out,color .25s ease-in-out;
    background-color: #222;
    border-color: #222;
    color: #ffffff;
    transition: all .3s;
    &:hover {
        background-color: #222;
        border-color: #222;
        color: #ffffff;
        transition: all .3s; 
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    @include belowIpadpro {
        width: 100%!important;
    }
}
.btn_black {
    width: 100%;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    padding: 0 8px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color .25s ease-in-out,border-color .25s ease-in-out,color .25s ease-in-out;
    background-color: #000;
    border-color: #000;
    color: #ffffff;
    transition: all .3s;
    &:hover {
        background-color: #000;
        border-color: #000;
        color: #ffffff;
        transition: all .3s; 
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    @include belowIpadpro {
        width: 100%!important;
    }
}
.btn_transparent {
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    padding: 0 8px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    transition: background-color .25s ease-in-out,border-color .25s ease-in-out,color .25s ease-in-out;
    background-color: transparent;
    border-color: #3a3a3a;
    color: #3a3a3a;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}